/* LOGIN PAGE STYLES */
.login-body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: #111827;
    padding: 2rem;
    color: #f3f4f6;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }
  
  .input-group label {
    display: block;
    color: #9ca3af;
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #374151;
    outline: 0;
    background-color: #111827;
    padding: 0.75rem 1rem;
    color: #f3f4f6;
  }
  
  .input-group input:focus {
    border-color: #a78bfa;
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    color: #9ca3af;
    margin: 8px 0 14px 0;
  }
  
  .forgot a,
  .signup a {
    color: #f3f4f6;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover,
  .signup a:hover {
    text-decoration: underline #a78bfa;
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: #a78bfa;
    padding: 0.75rem;
    text-align: center;
    color: #111827;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1;
    background-color: #374151;
  }
  
  .social-message .message {
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: #9ca3af;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 1rem;
  }
  
  .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    color: #9ca3af;
    margin-top: 1rem;
  }
  